.catalog{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

.catalog h1{
    color: #6d4c41;
}

.item-list{
    display: flex;
}

.item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.item h2{
    position: absolute;
    color: rgb(255, 255, 255);
    font-family: 'Pacifico';
    font-size: 2.4rem;
    text-shadow: 2px 2px 8px #6d4c41;
}

.item img{
    max-width: 300px;
    margin: 16px;
    border-radius: 33px;
}
