@import url(global.css);
@import url(header.css);
@import url(footer.css);

body{
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    display: flex;
    justify-content: flex-end;
    width: 1280px;
    margin: 48px auto;
    padding: 20px 20px;
    align-items: center;
    text-align: center;
}

.content img{
    width: 400px;
}


.content p{
    margin-top: 8px;
    color: var(--text);
}

@media screen and (max-width: 567px){
    header{
        width: 100vw;
    }

    .content{
        display: block;
        width: 100%;
    }

    .content p{
        font-size: 20px;
    }
    
    .dev-team{
        width: 100%;
        flex-direction: column;
        gap: 16px;
    }


}